@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  .example::-webkit-scrollbar {
    display: none;
  }